*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://images.pexels.com/photos/1183099/pexels-photo-1183099.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center center fixed;
    background-size: cover;
}

.countries{
    margin-top: 10px;
    background: radial-gradient(circle, rgba(174,211,238,1) 0%, rgb(160, 173, 121) 93%);
    padding: 10px;
    border-radius: 10px;
}

.paragraph{   
    margin-top: 5px;
    background-color: rgb(252, 252, 252);
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    
}


button{
    background-color: rgb(209, 7, 7);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-weight: bolder;
    transition: 0.5s;
    border-radius: 10px;
   
}

button:hover{
    color: blue;
    transition: 0.5s;
    background-color: white;
    
}

span{
    font-size: 2rem;
    font-weight: 500;
}
p{
    font-weight: 500;
}

.hidden{
    display: none;
}

.bg_paragraph{
    background-color: rgb(94, 201, 7);
    color: white;
    font-weight: bolder;
    transition: 0.1s;
}

